* {
    border: solid blue;
  }
  
  body {
    background-color: rgb(233, 220, 229);
  }
  
  .list {
    display: flex;
    list-style-type: none;
    align-content: space-between;
    justify-content: flex-end;
  }
  
  .aboutme {
    display: flex;
    justify-content: center;
  }
  
  #holdmytext {
    display: flex;
    justify-content: center;
  }
  
  p {
    display: flex;
    justify-content: center;
  }
  
  /*reference for slider in html and css: https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/*/
  
  #projects{
    display:flex;
    justify-content: space-around;
    margin: 0;
    padding: 150px;
  }
  
  .slider{
    display: flex;
    width: 500px;
    height: 500px;
    overflow-x: auto;
  }
  
  .slide{
    width: 500px;
    flex-shrink: 0;
    height: 100%;
  }
  
  
  .skills{
    display: flex;
    width: 200px;
    height: 200px; 
    justiy-content: space-between;
    margin: 0;
    padding: 15px;
  }