* {
    border: solid red; 
    }
    
    body {
      background-color: rgb(233, 220, 229);
    }
    
    .list{
      display: flex;
      list-style-type: none;
      text-align: justified right;
      align-content: space-between;
      justify-content: flex-end;
    }
    
    .aboutme {
      display: flex;
      justify-content: center;
    }
    
    #holdmytext {
      display: flex;
      justify-content: center;
    }
    
    p {
      display: flex;
      justify-content: center;
    }